# Public Jitsi config
NEXT_PUBLIC_JITSI_DOMAIN=8x8.vc
NEXT_PUBLIC_JITSI_APP_ID=
NEXT_PUBLIC_JITSI_ROOM_PREFIX=nexagen

# Server-side JaaS JWT config
JITSI_APP_ID=
JITSI_API_KEY_ID=
JITSI_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----"
JITSI_TOKEN_TTL_SECONDS=3600

# Optional self-hosted config
# NEXT_PUBLIC_JITSI_DOMAIN=meet.yourdomain.com
# NEXT_PUBLIC_JITSI_APP_ID=
